html{
    --body-bg : #ececec;
    --primary-color: #e00000;
    --light-color: #fff;
    --dark-color: #000;
    --btn-bg : #fff;
}

html.dark{
    --body-bg : #121212;
    --light-color: #ececec;
    --dark-color: #3d3d3d; 
    --btn-bg : #3d3d3d; 
}

/*Elements*/
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.button{
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    -webkit-transition: .4s cubic-bezier(.33,.21,0,1.01);
    -moz-transition: .4s cubic-bezier(.33,.21,0,1.01);
    -o-transition: .4s cubic-bezier(.33,.21,0,1.01);
    transition: .4s cubic-bezier(.33,.21,0,1.01);
}

.button i svg{
    width: 20px;
    height: 20px;
}

.button.primary-btn, .button.secondary-btn, .button.delete{
    background-color: var(--btn-bg);
}

.button.primary-btn:hover, .button.secondary-btn:hover, .button.delete:hover{
    color: var(--light-color);
}

.button.primary-btn{
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.button.primary-btn:hover{
    background-color: var(--primary-color);
}

.button.secondary-btn{
    color: var(--dark-color);
    border-color: var(--dark-color);
}

.button.secondary-btn:hover{
    background-color: var(--dark-color);
}

.button.delete{
    border-color: #d40a0a;
    color: #d40a0a ;
}

.button.delete:hover{
    background-color: #d40a0a;
}

.header-btn {
    padding: 8px 15px;
    background-color: #00000000;
    border: 1px solid #fff;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 10px 52%;
    padding-left: 40px;
}

.header-btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.login-btn{
    background-image: url('/laraProject/public/images/bootstrap_icons/login.svg');
}

.logout-btn{

    background-image: url('/laraProject/public/images/bootstrap_icons/logout.svg');
}
.logout-btn:hover, .logout-btn:focus{
    border-color: #1e252d;
    background-color: #1e252d;
}

.manage-btn{
    margin: 0 20px;
    background-image: url('/laraProject/public/images/bootstrap_icons/database.svg');
}

/* Border radius */
select, .button, .card-box, nav#public-navbar ul li{
    border-radius: 2px;
    /*box-shadow: 0px 0px 5px 0px #16161659;*/
}

input, select, .button {
    font-weight: 400;
}

/* Input */
input[type="text"], input[type="password"], input[type="email"],
select{
    padding: 8px 15px;
    margin: 10px;
    font-family: inherit;
    font-size: 17px;
}

/* Header */
header#site-header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    background-color: #1e252d;
    justify-content: space-between;
}

.site-logo svg{
    width: 130px;
    margin-top: 2px;
}

#header-user .user-info{
    padding: 10px;
    padding-right: 10px;
    background-color: #e00000;
}

.user-info a:not(.header-btn), #site-footer ul li a{
    color: #fff;
    text-decoration: none;
}

.user-info a:hover:not(.header-btn), .user-info a:focus:not(.header-btn), #site-footer ul li a:hover{
    text-decoration: underline;
}

#header-user  .user-info img{
    margin: 0px 10px 0px 5px;
    image-rendering: -webkit-optimize-contrast;
}

#header-user .user-info .username{
    margin-right: 15px;
}

/* Public navbar */
nav#public-navbar ul li{
    display: inline-block;
    padding: 5px 12px;
    transition: .4s cubic-bezier(.33,.21,0,1.01);
}

nav#public-navbar ul:hover li a{
    color: #b6b6b6;
}

nav#public-navbar ul li:hover{
    background-color: var(--primary-color);
}

nav#public-navbar ul li:hover a {
    color: #fff!important;
}

nav#public-navbar ul li a{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    transition: color .5s cubic-bezier(.33,.21,0,1.01);
}

.divider{
    width: 1px;
    height: 30px;
    margin: 0 8px 0px 20px ;
    background-color: #7d7d7d;
}

/* Main page content */

#content{
    margin-top: 60px;
}

/* Footer */
#site-footer{
    background-color: #000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

#site-footer ul li:not(:first-child):not(:last-child){
    padding: 0 30px;
}

#site-footer ul li a {
    color: white;
    text-decoration: none;
}

/* Footer nav */
nav#footer-nav ul li{
    display: inline-block;
}
/* Container */

.login-container{
    height: calc(100vh - 50px);
    background-image: url('/laraProject/public/images/login-bg.png');
    background-size: cover;
}

.login-container .row.flex-v-center{
    height: 100%;
}

.login-title{
    color: #1e252d;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 30px;
}

.login-title span{
    font-weight: 600;
}

.login-container .login-card input.form-control{
    margin: 5px 0;
    width: 100%;
}

.login-container .login-card input[type='text'],
.login-container .login-card input[type='password']{
    background-color: #1e252d;
    color: #fff;
    border: 3px solid #fff;
    padding: 17px 10px;
}

.login-container .login-card input[type='text']:focus,
.login-container .login-card input[type='password']:focus{
    outline: 0;
    border-bottom-color: var(--primary-color)!important;
}

.login-container .login-card button[type="submit"]{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: var(--primary-color);
}

.login-container .login-card button[type="submit"]:hover{
    background-color: #1e252d;
}

.login-container .login-card input.form-check-input{
    margin: 15px 0;
}

/* Layout */
.flex-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center{
    display: flex;
    align-items: center;
}

